{% extends 'basic.html' %}

{% block title %}Listado - Grupos{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Listado de Grupos</h1>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha Fundacion</th>
                    <th>Estilo Musical</th>
                    <th>Componentes</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="grupos">
                {% include 'grupo/tabla.html' %}
            </tbody>
          </table>
          <hr />
          <a id="anterior" href="#" data-page="2" class="btn btn-primary">Anterior</a>
          <a id="siguiente" href="#" data-page="2" class="btn btn-primary">Siguiente</a>
          <a class="btn btn-success" href="/aplicacion/add_grupo">Crear Grupo</a>
    </div>
    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        $(document).ready(function(){
            $('#anterior').hide();
            var datos = '{{num_data}}';
            if(datos <= 5) {
                $('#siguiente').hide();
            }
        });
        (function($) {
            $('#siguiente').on('click', function() {
                document.getElementById('grupos').innerHTML = '';
                var link = $(this);
                var button = $('#anterior');
                var page = link.data('page');
                $.ajax({
                    type: 'post',
                    url: '/aplicacion/info_grupos/',
                    data: {
                        'page': page,
                        'csrfmiddlewaretoken': window.CSRF_TOKEN
                },
                success: function(data) {
                    if (data.has_next) {
                        link.data('page', data.num_page);
                        link.show();
                    } else {
                        link.hide();
                    }
                    if (data.has_prev) {
                        button.data('page', data.num_page-2);
                        button.show();
                    } else {
                        button.hide();
                    }
                    $('#grupos').append(data.grupos_html);
                },
                error: function(xhr, status, error) {
                    }
                });
            });
            }(jQuery));
            (function($) {
                $('#anterior').on('click', function() {
                    document.getElementById('grupos').innerHTML = '';
                    var link = $(this);
                    var button = $('#siguiente');
                    var page = link.data('page');
                    $.ajax({
                        type: 'post',
                        url: '/aplicacion/info_grupos/',
                        data: {
                            'page': page,
                            'csrfmiddlewaretoken': window.CSRF_TOKEN
                    },
                    success: function(data) {
                        if (data.has_next) {
                            button.data('page', data.num_page);
                            button.show();
                        } else {
                            button.hide();
                        }
                        if (data.has_prev) {
                            link.data('page', data.num_page-2);
                            link.show();
                        } else {
                            link.hide();
                        }
                        $('#grupos').append(data.grupos_html);
                    },
                    error: function(xhr, status, error) {
                        }
                    });
                });
            }(jQuery));
    </script>
{% endblock %}
