{% extends 'basic.html' %}

{% block title %}Detalles - Musicos{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Detalles de Musicos del Grupo {{grupos.nombre}}</h1>
    </div>
    <div class="container">
        {% for musico in grupos.componentes.all %}
            <div class="panel panel-info">
                <div class="panel-heading">Ficha Informativa de {{musico.nombre}} {{musico.apellidos}}</div>
                <div class="panel-body">
                    <strong>Nombre:</strong> {{musico.nombre}}
                    <br/>
                    <strong>Apellidos:</strong> {{musico.apellidos}}
                    <br/>
                    <strong>Fecha de Nacimiento:</strong> {{musico.fecha_nacimiento}}
                    <br/>
                    <strong>Instrumento:</strong> {{musico.instrumento}}
                </div>
            </div>
        {% endfor %}
        <div id="map" style="margin:12px 0 12px 0;height:600px;"></div>
    </div>
    <script>
        var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, {minZoom: 0, maxZoom: 20, attribution: osmAttrib});
        var map = L.map('map').setView([40.4378698, -3.8196212], 6).addLayer(osm);
        var localizaciones = JSON.parse('{{localizations|safe}}');
        for (var i = 0; i < localizaciones.length; i++){
            L.marker([localizaciones[i].fields.latitud, localizaciones[i].fields.longitud])
                .addTo(map)
                .bindPopup(localizaciones[i].fields.nombre + ' ' + localizaciones[i].fields.apellidos)
                .openPopup();
        }
    </script>
{% endblock %}
