<!doctype html>
<html>
  <head>
    <title>Practica 03</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="icon.png">
    <meta charset="UTF-8">
    <meta name="description" content="Practica 03 - DAI">
    <meta name="keywords" content="HTML, CSS, XML, JavaScript">
    <meta name="author" content="Rafael Bailón Robles">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
  </head>
  <body>
    <header id="pageHeader">Header</header>
    <article id="mainArticle">Article</article>
    <nav id="mainNav">Nav</nav>
    <div id="siteAds">Ads</div>
    <footer id="pageFooter">Footer</footer>
  </body>
</html>