<!DOCTYPE html>
<html>
    <head lang="es">
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        {% block cabeceras %}{% endblock %}
    </head>
    <body>
        <nav id="navigation" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/aplicacion">BBDD Musica</a>
                </div>
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="active"><a href="/accounts/logout">Logout</a></li>
                    {% else %}
                        <li class="active"><a href="/accounts/login">Login</a></li>
                        <li class="active"><a href="/accounts/signup">Signup</a></li>
                    {% endif %}
                </ul>
                {% block menu %}{% endblock %}
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
