{% for grupo in grupos %}
    <tr>
        <td>{{grupo.nombre}}</td>
        <td>{{grupo.fecha_fundacion}}</td>
        <td>{{grupo.estilo_musical}}</td>
        <td><a class="btn btn-info" href="/aplicacion/detail_musico/{{ grupo.id }}">Ver</a></td>
        <td>
            <a class="btn btn-primary" href="/aplicacion/edit_grupo/{{ grupo.id }}">Editar</a> | 
            <a class="btn btn-danger" href="/aplicacion/delete_grupo/{{ grupo.id }}" 
                onClick="return confirm('¿Seguro que quieres borrar a {{grupo.nombre}}?');">Borrar</a>
        </td>
    </tr>
{% endfor %}
